html,
body,
#root {
    height: 100%;
    margin: 0;
}

.flex-container {
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #daa520;
}

div + div {
    align-self: center;
}

div + div + div {
    align-self: end;
}

div + div + div + div {
    align-self: center;
}

div + div + div + div + div {
    align-self: start;
}
